.container {
  max-width: 750px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/*block1*/

.Shapka {
  display: flex;
  background: #2d7053;
  width: 750px;
  height: 235px;
}

.shapka-elips1 {
  width: 141px;
  height: 141px;
  padding-top: 47px;
  padding-left: 38px;
}

.shapka-list {
  width: 134px;
  height: 131px;
  padding-top: 52px;
  padding-left: 58px;
  color: white;
  font-size: 22px;
}

.shapka-rate {
  width: 84px;
  height: 68px;
  padding-top: 84px;
  padding-left: 251px;
}

/*block2*/

.komnata {
  width: 750px;
  height: 466px;
  margin-bottom: 73px;
}

.saidbar-komnata {
  width: 750px;
  height: 466px;
  position: relative;
}

.activation {
  background: #cb9223;
  width: 341px;
  height: 74px;
  position: relative;
  text-align: center;
  left: 205px;
  bottom: 120px;
}

/*block3*/

.ava {
  display: flex;
}

.photo {
  width: 247px;
  height: 247px;
  padding-left: 44px;
  padding-bottom: 60px;
}

.sidebar {
  border-radius: 50%;
}

.info {
  padding-top: 61px;
  padding-left: 75px;
  font-size: 26px;
}

.informathion {
  width: 590px;
  height: 166px;
  padding-left: 44px;
  font-size: 20px;
}

/*block4*/

.scroll {
  width: 545px;
  height: 35px;
  padding-left: 44px;
  padding-bottom: 30px;
}

.causes {
  width: 256px;
  height: 190px;
  padding-left: 44px;
  font-size: 20px;
}

.tel {
  width: 341px;
  height: 74px;
  background: #cb9223;
  text-align: center;
  margin: 0 auto;
}

.tell {
  padding-top: 28px;
}

.text {
  text-decoration: none;
  color: white;
}

/*block5*/

.contact {
  width: 750px;
  height: 153px;
  background: #888888;
  margin-top: 50px;
  display: flex;
}

.elips2 {
  width: 96px;
  height: 96px;
  padding-top: 29px;
  padding-left: 45px;
}

.street {
  width: 199px;
  height: 17px;
  padding-top: 95px;
  padding-left: 184px;
  color: white;
}

.tellefon {
  width: 136px;
  height: 15px;
  padding-top: 56px;
  padding-left: 46px;
}

.button {
  color: white;
}
